%h1= idmef_class["name"]

%p= idmef_class["description"]

%img.img-responsive.block-center{src: "/#{location}/img/#{idmef_class["name"]}.svg"}

%hr

- if idmef_class["childs"] and !idmef_class["childs"].empty?
  %h3 Childs
  - idmef_class["childs"].each do |name, child|
    - if classes.include? name
      %h4
        %a{href: "/#{location}/#{name}.html"}= name
    - else
      %h4= name

- if idmef_class["aggregates"] and !idmef_class["aggregates"].empty?
  %h3 Aggregates
  - idmef_class["aggregates"].each do |name, aggregate|
    %h4
      - if classes.include? name
        %a{href: "/#{location}/#{name}.html"}= name
      - else
        = name
      - if aggregate["multiplicity"]
        = "(#{aggregate["multiplicity"]})"
    %blockquote
      = aggregate["description"]

%hr

- if idmef_class["attributes"] and !idmef_class["attributes"].empty?
  %h3 Attributes
  - idmef_class["attributes"].each do |attr_name, attribute|
    %h4
      = attr_name
      - if attribute["multiplicity"]
        = "(#{attribute["multiplicity"]})"
    %blockquote
      = attribute["description"]
      - if attribute["values"]
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Rank
              %th Keyword
              %th Description
          %tbody
            - attribute["values"].each do |value|
              %tr
                %td= value["rank"]
                %td= value["keyword"]
                %td= value["description"]

