- require 'cgi'

.container
  %h1= active_class["name"]

  %p= active_class["description"]


  %ul.nav.nav-tabs{role: "tablist"}
    %li.active{role: "presentation"}
      %a{href: "#svg", "aria-control" => "svg", role: "tab", "data-toggle" => "tab"} SVG
    %li{role: "presentation"}
      %a{href: "#png", "aria-control" => "png", role: "tab", "data-toggle" => "tab"} PNG
    %li{role: "presentation"}
      %a{href: "#dot", "aria-control" => "dot", role: "tab", "data-toggle" => "tab"} DOT
    %li{role: "presentation"}
      %a{href: "#pdf", "aria-control" => "pdf", role: "pdf", "data-toggle" => "tab"} PDF


  .tab-content
    #svg.tab-pane.active{role: "tabpanel"}
      .img-responsive.block-center
        - if active_class.fetch("childs", {}).merge(active_class.fetch("aggregates", {})).select{|name, cls| classes.include?(name)}.empty?
          = graph.to_svg
        - else
          = graph.to_svg.gsub(/\d+pt/, "100%")

    #png.tab-pane{role: "tabpanel"}
      %img.img-responsive.block-center{src: "/#{location}/img/#{generator}/#{active_class["name"]}.png"}

    #dot.tab-pane{role: "tabpanel"}
      %pre
        %p= CGI.escapeHTML(graph.to_dot)

    #pdf.tab-pane{role: "tabpanel"}
      %iframe{src: "/#{location}/img/#{generator}/#{active_class["name"]}.pdf", width: "100%", height: "500px"}

  %hr

  - if active_class["childs"] and !active_class["childs"].empty?
    %h3 Childs
    - active_class["childs"].each do |name, child|
      - if classes.include? name
        %h4
          %a{href: "/#{location}/#{generator}/#{name}.html"}= name
      - else
        %h4= name

  - if active_class["aggregates"] and !active_class["aggregates"].empty?
    %h3 Aggregates
    - active_class["aggregates"].each do |name, aggregate|
      %h4
        - if classes.include? name
          %a{href: "/#{location}/#{generator}/#{name}.html"}= name
        - else
          = name
        - if aggregate["multiplicity"]
          = "(#{aggregate["multiplicity"]})"
      %blockquote
        = aggregate["description"]
        - if aggregate["values"]
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th Rank
                %th Keyword
                %th Description
            %tbody
              - aggregate["values"].each do |value|
                %tr
                  %td= value["rank"]
                  %td= value["keyword"]
                  %td= value["description"]

  %hr

  - if active_class["attributes"] and !active_class["attributes"].empty?
    %h3 Attributes
    - active_class["attributes"].each do |attr_name, attribute|
      %h4
        = attr_name
        - if attribute["multiplicity"]
          = "(#{attribute["multiplicity"]})"
      %blockquote
        = attribute["description"]
        - if attribute["values"]
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th Rank
                %th Keyword
                %th Description
            %tbody
              - attribute["values"].each do |value|
                %tr
                  %td= value["rank"]
                  %td= value["keyword"]
                  %td= value["description"]

